/*---ACCUEIL---*/

.bottom__baner img{
    width: 100%;
}

/*---COMPETENCES---*/

#competences{
    margin: 150px auto 0;
    display: grid;
    grid-template-columns: (30% 20% 20% 30%);
}

.hard__skills{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soft__skills{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills--technique{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #e41d1d, #bfc20b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 300px;
}

.skills--human{
    font-size: 25px;
    background: linear-gradient(to right, #f82525, #684eb8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    font-weight: bold;
}

.skills--human-s{
    font-size: 30px;
    background: linear-gradient(to right, #684eb8, #f82525);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    font-weight: bold;
}

/*---PORTFOLIO---*/



/*---CONTACT---*/
